body {
    margin: 5px;
    font: 12px Arial, serif;
}

.tab-contain {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 5px;
    background: #7F7D7D;
}

#tabs {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0;
}

li a {
    position: relative;
    background: #ddd;
    padding: 10px 50px;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

.current a {
    outline: 0;
    background: #AAC8B9;
    color: #0E2D5F;
    z-index: 4;
}

.hoverItem a {
    background: #AAC8B9;
}

#content {
    background: #fff;
    margin: 0;
    padding: 0px;
    height: 100%;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);

    border-collapse: collapse;
    border-color: #95B8E7;
    border-width: 1px;
    border-style: solid;
}

.item {
    display: none;
    margin: 0;
    width: 100%;
    height: 100%;
    align: left;
}

.show {
    display: block;
    background: #f7fafc;
}


#sql-monitorTable tbody tr td:first-child {
    word-wrap: break-word;
    word-break: break-all;
    width: 500px;
}

/* tables */
table.tablesorter {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.tablesorter thead tr th {
    font: 12px Arial, serif;
    background-color: #e6EEEE;
    border: 1px solid black;
    padding: 4px;
    border-top: none;
    border-left: none;
    border-color: #95B8E7;
}

table.tablesorter thead tr .header {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    border: 1px solid black;
    vertical-align: top;
    border-top: none;
    border-left: none;
    border-color: #95B8E7;
    font: 10px italic Arial, serif;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../img/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../img/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

input[type='button']{
	height:25px;
	line-height:15px;
	vertical-align:middle;
	text-align:center;
}

input[type='text']{
	height:20px;
	line-height:10px;
	outline-style: none;
	border: 1px solid #ccc; 
	vertical-align:middle;
	text-align:center;
}
select{
	height:25px;
	line-height:10px;
	outline-style: none;
	border: 1px solid #ccc; 
	vertical-align:middle;
	text-align:center;
}

.sqlExecSlow {
    background-color: #CCFF66;
}

.sqlExecFail {
    background-color: #FFCC00;
}


